@import 'universales'

.black
    background: black !important
    color: white !important
    a
        color: white !important

header
    display: flex
    align-items: center
    justify-content: space-between
    background-color: #fff
    .logo_header
        display: flex
        align-items: center
        img
            width: 90px
            height: 90px
            border-radius: 50%
        nav
            ul
                display: flex
                li
                    margin-left: 20px    
    .container_other_icons
        display: flex
        align-items: center
        gap: 20px
        .btn_claro_oscuro
            display: flex
            padding: 5px 10px
            border: 2px solid #000
            border-radius: 20px
            cursor: pointer
            .fa-sun
                margin-right: 20px
            .fa-moon
                margin-left: 20px
        ul
            display: flex
            gap: 10px
            
            

.container
    .slide
        .imgs
            display: flex
            img
                height: calc(100vh - 94px)
                width: 100%
    .btn_slide
        display: flex
        justify-content: center
        align-items: center
        margin-top: -50px
        i
            color: #000
            font-size: 20px
            background: transparent
            margin-left: 20px
            cursor: pointer
        .active
            border: 2px solid #fff
            border-radius: 50%

.card
    .titulo
        display: flex